<div class="nav">
  <div class="nav__wrapper">
    <div class="nav__list-wrapper">
      <img src="assets/logo.svg" class="nav__logo" alt="Logo" />

      <ul class="nav__list">
        <li class="nav__list-item" (click)="goToCollection()">Collections</li>
        <li class="nav__list-item">Men</li>
        <li class="nav__list-item">Women</li>
        <li class="nav__list-item">About</li>
        <li class="nav__list-item">Contact</li>
      </ul>
    </div>

    <div class="nav__img-wrapper">
      <button class="nav__btn-cart" (click)="toggleCart()">
        <img src="assets/icon-cart.svg" class="nav__cart" alt="cart" />
      </button>
      <img src="assets/image-avatar.png" class="nav__avatar" alt="avatar" />
    </div>

    @if(isCartOpen) {
    <div class="nav__cart-modal">
      <div class="nav__cart-title">Cart</div>

      <div class="nav__cart-hr"></div>
      <div class="nav__cart-products">
        @for(product of cartProducts; track product.id) {

        <div class="nav__cart-wrapper">
          <div class="nav__cart-img">
            <img [src]="product.img" [alt]="product.name" />
          </div>
          <div class="nav__cart-text">
            <div class="nav__cart-text-name">
              {{ product.name }}
            </div>

            <div class="nav__cart-text-price">
              ${{ product.price }}.00 x {{ product.amount }}
              <span>${{ product.price * product.amount }}.00</span>
            </div>
          </div>
          <div
            class="nav__cart-text-delete"
            (click)="removeFromCart(product.id)"
          >
            <img src="assets/icon-delete.svg" alt="delete" />
          </div>
        </div>
        }
      </div>

      <button class="nav__cart-checkout">Checkout</button>
    </div>
    }
  </div>
</div>
