<div class="nav">
  <div class="nav__wrapper">
    <div class="nav__list-wrapper">
      <img src="assets/logo.svg" class="nav__logo" alt="Logo" />

      <ul class="nav__list">
        <li class="nav__list-item">Collections</li>
        <li class="nav__list-item">Men</li>
        <li class="nav__list-item">Women</li>
        <li class="nav__list-item">About</li>
        <li class="nav__list-item">Contact</li>
      </ul>
    </div>

    <div class="nav__img-wrapper">
      <img src="assets/icon-cart.svg" class="nav__cart" alt="cart" />
      <img src="assets/image-avatar.png" class="nav__avatar" alt="avatar" />
    </div>
  </div>
</div>
