<div class="product">
  <div class="product__wrapper">
    <div class="product__img">
      <img src="assets/image-product-1.jpg" alt="" />
    </div>

    <div class="product__description">
      <div class="product__description-company">Sneaker Company</div>
      <div class="product__description-title">
        Fall Limited Edition Sneakers
      </div>
      <div class="product__description-text">
        These low-profile sneakers are your perfect casual wear companion.
        Featuring a durable rubber outer sole, they’ll withstand everything the
        weather can offer.
      </div>
      <div class="product__description-wrapper">
        <div class="product__description-price">$125.00</div>
        <div class="product__description-percent"><span>50%</span></div>
      </div>
      <div class="product__description-discount">$250.00</div>

      <div class="product__buttons">
        <div class="product__buttons-quantity">
          <button
            class="product__buttons-quantity-btn product__buttons-quantity-btn--minus"
            (click)="onDecreaseAmount()"
          >
            <img src="assets/icon-minus.svg" alt="minus" />
          </button>
          <span class="product__buttons-quantity-count">{{ amount }}</span>
          <button
            class="product__buttons-quantity-btn product__buttons-quantity-btn--plus"
            (click)="onIncreaseAmount()"
          >
            <img src="assets/icon-plus.svg" alt="plus" />
          </button>
        </div>
        <button class="product__buttons-cart">
          <img src="assets/icon-cart.svg" alt="cart" />
          <span>Add to cart</span>
        </button>
      </div>
    </div>
  </div>
</div>
