@if(selectedProduct) {
<div class="product">
  <div class="product__wrapper">
    <div class="product__img">
      <img [src]="selectedProduct.img" [alt]="selectedProduct.name" />
    </div>

    <div class="product__description">
      <div class="product__description-company">
        {{ selectedProduct.company }}
      </div>
      <div class="product__description-title">
        {{ selectedProduct.name }}
      </div>
      <div class="product__description-text">
        {{ selectedProduct.description }}
      </div>
      <div class="product__description-wrapper">
        <div class="product__description-price">
          ${{ selectedProduct.price }}
        </div>
        @if(selectedProduct.discount_percent) {
        <div class="product__description-percent">
          <span>{{ selectedProduct.discount_percent }}%</span>
        </div>
        }
      </div>
      @if(selectedProduct.price_with_discount) {
      <div class="product__description-discount">
        ${{ selectedProduct.price_with_discount }}
      </div>
      }

      <div class="product__buttons">
        <div class="product__buttons-quantity">
          <button
            class="product__buttons-quantity-btn product__buttons-quantity-btn--minus"
            (click)="onDecreaseAmount()"
          >
            <img src="assets/icon-minus.svg" alt="minus" />
          </button>
          <span class="product__buttons-quantity-count">{{ amount }}</span>
          <button
            class="product__buttons-quantity-btn product__buttons-quantity-btn--plus"
            (click)="onIncreaseAmount()"
          >
            <img src="assets/icon-plus.svg" alt="plus" />
          </button>
        </div>
        <button class="product__buttons-cart" (click)="addToCart()">
          <img src="assets/icon-cart.svg" alt="cart" />
          <span>Add to cart</span>
        </button>
      </div>
    </div>
  </div>
</div>
}
